@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    width: auto;
    margin-bottom: 30px;
    background-color: #006778;
}

.nav-brand {
    font-size: 25px;
}

.form-select {
    width: 200px;
}

/* Cards */
a {
    color: #006778
}

.card {
    width: 100%;
    margin-bottom: 20px;
}

.card-name {
    color: #006778;
    font-weight: 600;
}

.card-button {
    width: 100%;
    color: #006778;
    background-color: white;
    border-color: #006778;
}

.card-button:hover {
    color: white;
    background-color: #006778;
    border-color: #006778;
}

/* End Cards */

/* Modals */
.modal-header {
    background-color: #006778;
}

.modal-image {
    width: auto;
    border-radius: 50px;
    margin: auto 20px;
}

.modal-title {
    color: white;
}

.modal-title p {
    color: white;
    font-size: 16px;
    margin: auto;
}

.modal-body {
    margin-left: 20px;
}

.modal-button {
    color: white;
    background-color: #006778;
    border-color: white;
}

.modal-button:hover {
    color: white;
    background-color: #0884ad;
    border-color: #006778;
}

/* End Modals */


/* Pagination */
.page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
}

.page-numbers li {
    padding: 10px;
    margin: 1px;
    border: 1px solid #006778;
    cursor: pointer;
    border-radius: 5px;
}

.page-numbers li.active {
    background-color: #006778;
    color: white;
}

.page-numbers button {
    background-color: white;
    border: 1px solid #006778;
    border-radius: 5px;
    color: #006778;
    font-size: 1rem;
    cursor: pointer;
}

.page-numbers button:hover {
    background-color: #006778;
    color: white;
}

.page-numbers button:focus {
    outline: none;
}

.page-numbers button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}
/* End Pagination */