@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {   
    font-family: 'Montserrat', sans-serif;
}

.nav {
    width: auto;
    margin-bottom: 30px;
    background-color: #006778;
}

.nav-brand {
    font-size: 25px;
}

/* Cards */
a {
    color: #006778
}

.card {
    width: 100%;
    margin-bottom: 20px;
}
.card-name {
    color: #006778;
    font-weight: 600;
}

.card-button {
    width: 100%;
    color: #006778;
    background-color: white;
    border-color: #006778;
}

.card-button:hover {
    color: white;
    background-color: #006778;
    border-color: #006778;
}
/* End Cards */

/* Modals */
.modal-header {
    background-color: #006778;
}

.modal-image {
    width: auto;
    border-radius: 50px;
    margin: auto 20px;
}

.modal-title {
    color: white;
}

.modal-title p {
    color: white;
    font-size: 16px;
    margin: auto;
}


.modal-body {
    margin-left: 20px;
}

.modal-button {
    color: white;
    background-color: #006778;
    border-color: #006778;
}

.modal-button:hover {
    color: white;
    background-color: #0884ad;
    border-color: #006778;
}
/* End Modals */

/* Pagination */
.pagination {
    width: 80%;
    height: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.pagination a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #006778;
    color: #006778;
    cursor: pointer;
}

.pagination a:hover {
    color: white;
    background-color: #006778;
}

.paginationActive a {
    color: white;
    background-color: #006778;
}

/* End Pagination */

/* .paginationDisabled a {
    color: white;
    background-color: grey;
} */