@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {   
    font-family: 'Montserrat', sans-serif;
}

.nav {
    width: auto;
    margin-bottom: 30px;
    background-color: #006778;
}

.nav-brand {
    font-size: 25px;
}

.user-name {
    color: #006778;
    font-weight: 600;
}

a {
    color: #006778
}

.card {
    width: 100%;
    margin-bottom: 20px;
}

.see-button {
    width: 100%;
    color: #006778;
    background-color: white;
    border-color: #006778;
}

.see-button:hover {
    color: white;
    background-color: #006778;
    border-color: #006778;
}

/* Modals */
.modal-title {
    margin-left: 20px;
}
.modal-image {
    width: auto;
    border-radius: 50px;
}


/* Paginations */
.pagination {
    width: 80%;
    height: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.pagination a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #006778;
    color: #006778;
    cursor: pointer;
}

.pagination a:hover {
    color: white;
    background-color: #006778;
}

.paginationActive a {
    color: white;
    background-color: #006778;
}

/* .paginationDisabled a {
    color: white;
    background-color: grey;
} */